h2 {
    font-size: 1rem;
    font-family: bebas;
}
h3 { 
    font-size: 1rem
    font-family: Gill sans;
}

body {
    margin: 10%
}

article {
    background-color: pink;
}

.row>div {
    display: flex;
}
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {.btn-primary { 
    background-color: blueviolet;
    border-color: blue; }}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}